header{
    flex: auto;
    position: relative;
    right: 5.5rem;
    @include mq($until: mobileLandscape) {
      right: 3.6rem;
    };
}
input:focus{
    width:200px;
    height:32px;
    border-radius:40px;
    padding: 0 20px;
    line-height: 2em;
    font-weight: 100;
    font-size: 12px;
  cursor:auto;
  @include mq($until: mobileLandscape) {
    width: 160px;
    height: 30px;
  };
}


input{
    float:right;
    border:3px solid #fff;
    outline:none;
    width:32px;
    cursor:pointer;
    -webkit-transition:.2s all ease-in;
    -moz-transition:.2s all ease-in;
    transition:.2s all ease-in;
    height:32px;
    color:#fff;
    border-radius:40px;
    background:none;
    font-size:0;
    @include mq($until: mobileLandscape) {
      width: 30px;
      height: 30px;
    };
}
.close span{
width:3px;
height:18px;
border-radius:2px;
background:#fff;
display:inline-block;
  @include mq($until: mobileLandscape) {
    height: 15px;
  };
}

.front{
    position:absolute;
    right:24px;
    top:7px;
    transform: rotate(-45deg);
    opacity:0;
    animation-delay: 2s;
    -webkit-transition:.2s all ease-in;
    -moz-transition:.2s all ease-in;
    transition:.2s all ease-in;
    @include mq($until: mobileLandscape) {
      top: 6px;
    };
}

.back{
    position:absolute;
    right:-4px;
    top:27px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition:.2s all ease-in;
    @include mq($until: mobileLandscape) {
      right: -2px;
      top: 26px;
    };
}

input:focus + div .front{
    opacity:1;
    cursor: pointer;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    transition-delay: .2s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

input:focus + div .back{
    right: 24px;
    top:7px;
    cursor: pointer;
    @include mq($until: mobileLandscape) {
      top: 6px;
    };
}
